*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 -webkit-user-select: none;   /*for disabling the select feature */
-webkit-user-drag: none;
-webkit-app-region:none;
}

.container{
    width: 50%;
    height: 50%;
    position: relative;
    left: 10vw;        
border: 1px solid darkblue;


}

.wrapper{
    width: 80px;
    height: 100px;
    size: 2rem;


}


.screen{
    grid-column: 1/-1;
    color: white;
    text-align: end;
    padding: 0.5rem;
    font-size: 4rem;
    overflow: hidden;
}

.btn{
    display: grid;
    place-content: center;
    background-color: rgb(54,52,52);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 12px;

}
.btn:hover{
    background-color:lightblue;
}

.light-grey{
background-color: gray;
color: black
;
}
    

.btn-num{
    color: red;
}